name: CI

on:
  push:
    branches: [main]
    tags: ["*"]
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            image: ubuntu-latest
            arch: 386
            setup: sudo apt-get update && sudo apt-get install -qq gcc-i686-linux-gnu
            env:
              CC: i686-linux-gnu-gcc
              CXX: i686-linux-gnu-g++
          - os: linux
            image: ubuntu-latest
            arch: amd64
            env: {}
          - os: linux
            image: ubuntu-latest
            arch: arm
            setup: sudo apt-get update && sudo apt-get install -qq gcc-arm-linux-gnueabi
            env:
              CC: arm-linux-gnueabi-gcc
              CXX: arm-linux-gnueabi-g++
              GOARM: 6
          - os: linux
            image: ubuntu-latest
            arch: arm64
            setup: sudo apt-get update && sudo apt-get install -qq gcc-aarch64-linux-gnu
            env:
              CC: aarch64-linux-gnu-gcc
              CXX: aarch64-linux-gnu-g++
          - os: macos
            image: macos-latest
            arch: amd64
            env: {}
          - os: macos
            image: macos-latest
            arch: arm64
            env: {}
          - os: windows
            image: windows-latest
            arch: amd64
            setup: choco install sqlite
            env: {}

    name: Build (${{ matrix.os }}/${{ matrix.arch }})
    runs-on: ${{ matrix.image }}
    env: ${{ matrix.env }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Setup environment
        run: ${{ matrix.setup }}

      - run: go mod download

      - run: make build ls
        env:
          GOARCH: ${{ matrix.arch }}
          OUTPUT: dbmate-${{ matrix.os }}-${{ matrix.arch }}

      - run: make test
        if: ${{ matrix.arch == 'amd64' }}
        env:
          GOARCH: ${{ matrix.arch }}

      - run: dist/dbmate-${{ matrix.os }}-${{ matrix.arch }} --help
        if: ${{ matrix.arch == 'amd64' }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dbmate-${{ matrix.os }}-${{ matrix.arch }}
          path: dist/dbmate-*

      - name: Publish binaries
        uses: softprops/action-gh-release@v2
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          files: dist/dbmate-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  dependabot:
    name: Dependabot
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - name: Automatically approve dependabot PRs
        uses: octokit/request-action@v2.x
        with:
          route: POST /repos/{owner}/{repo}/pulls/{pull_number}/reviews
          owner: ${{ github.event.repository.owner.login }}
          repo: ${{ github.event.repository.name }}
          pull_number: ${{ github.event.pull_request.number }}
          event: APPROVE
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
